
         h1 {
           color:blue;
           font-size:80;
           border:5px groove blue;
           background-color: purple;
           font:times;

}
p { font: lucida;
    font-size:30px;
    color: purple;
    }
h2 { font-size:25;
     font-family:"Times New Roman", Times;}
h3 {font-size:50;
    color: red;}
h4 {font-size: 75;
    font-style:italic;}
h5 {font-size: 15;
    font: serif;}
h6 {font-size: 150;
    color:green;}
